<% if @sender and @sender.logged? %><%= l(:text_issue_shared, :id => "##{@issue.id}", :author => h(@sender)) %><% else %><%= l(:text_issue_shared_by_anonymous, :id => "##{@issue.id}") %><%end%>
<% if @notes and !@notes.empty? %>
  <p><%= textilizable(@notes, :only_path => :false) %></p>
<% end %>
<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :users => @users, :issue_url => @issue_url } %>
<% if @journals.any? %>
  <hr />
  <h3><%= l(:field_activity) %></h3>
  <% @journals.each do |journal| %>
    <hr />
    <p><%= l(:issue_mailer_label_updated_time_by, :author => journal.user, :created_on => format_time(journal.created_on)) %></p>
    <% if journal.private_notes? %>
      (<%= l(:field_private_notes) %>)
    <% end %>
    <ul>
    <% details_to_strings(journal.details, false, :only_path => false).each do |string| %>
      <li><%= string %></li>
    <% end %>
    </ul>
    
    <%= textilizable(journal, :notes, :only_path => false) %>
  <% end %>
<% end %>