<% html_title l(:issue_mailer_email_title, :issue => "#{@issue.tracker.name} ##{@issue.id}") %>
<h2><%= link_to_issue(@issue) %> &#187; <%= l(:issue_mailer_label) %></h2>

<%= javascript_tag do %>
$(window).load(function() {
  $(add_user_label).hide();
  $(add_user_link).show();
  $(add_user_link_image).show();
// Handler for .ready() called.
});
<% end %>

<%= form_tag(:action => :create) do %>
  <div class="tabular">
    <p><%= label_tag(:address, l(:issue_mailer_label_field_address), :id => 'add_user_label') %>
    <%= link_to label_tag(:address, l(:issue_mailer_label_field_address), :hidden => true, :id => 'add_user_link'), :action => :users, :remote => true, :id => @issue.id %>
    <%= text_field_tag(:address, @address, :size => 80) %>
    <%= link_to image_tag('user.png', :hidden => true, :id => 'add_user_link_image'), :action => :users, :remote => true, :id => @issue.id  %>
    <em class="info"><%= l(:text_comma_separated) %></em></p>
    <p><%= label_tag(:include_history, l(:issue_mailer_label_field_include_history)) %>
    <%= select_tag(:include_history, options_for_select([[l(:issue_mailer_no_history), ''], [l(:issue_mailer_comments_only), 'comments_only'], [l(:issue_mailer_all_history), 'all_history']], @include_history)) %>
    <% if User.current.logged? %>
    <p><%= label_tag(:cc_self, l(:issue_mailer_label_field_cc_self)) %>
    <%= check_box_tag(:cc_self, @cc_self, @cc_self) %>
    <% end %>
    <p>
    <%= label_tag :notes %>
    <%= content_tag 'span', :id => "notes_and_toolbar" do %>
      <%= text_area_tag(:notes, @notes, :cols => 60, :rows => 10, :accesskey => accesskey(:edit), :class => 'wiki-edit', :no_label => true ) %>
    <% end %>
</p>
<%= wikitoolbar_for 'notes' %> 
  </div>
    <%= submit_tag l(:issue_mailer_button_send) %>
<% end %>
