<% html_title l(:issue_mailer_email_title, :issue => "#{@issue.tracker.name} ##{@issue.id}") %>
<h2><%= link_to_issue(@issue) %> &#187; <%= l(:issue_mailer_label) %></h2>

<%= form_tag(:action => :create) do %>
  <div class="tabular">
    <p><%= label_tag(:address, l(:issue_mailer_label_field_address)) %>
    <%= text_field_tag(:address, @address) %>
    <em class="info"><%= l(:text_comma_separated) %></em></p>
  </div>
    <%= submit_tag l(:issue_mailer_button_send) %>
<% end %>
